.footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-40);
  margin-bottom: var(--size-80);
}

.footer-msg {
  background: var(--gradient-x) text;
  -webkit-text-fill-color: transparent;
}

.footer-contato>a {
  margin-bottom: var(--size-20);
  transition: color 0.4s;
}

.footer-contato>a:hover {
  color: var(--primary-1);
}

.footer-redes {
  display: flex;
  gap: var(--size-40);
}

.footer-redes svg {
  transition: fill 0.4s;
}

.footer-redes svg:hover {
  fill: var(--primary-1);
}

.footer-copy {
  text-align: center;
  grid-column: span 2;
}

@media (max-width: 700px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .footer-msg {
    text-align: center;
  }

  .footer-contato {
    margin: 0 auto;
    text-align: center;
  }

  .footer-redes {
    justify-content: center;
  }

  .footer-copy {
    grid-column: 1;
  }
}