.projeto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--size-40);
}

.projeto-tecnologias {
  justify-self: center;
  grid-column: 1 / -1;
}

.projeto-tecnologias h2 {
  text-align: center;
  background: var(--gradient-y) text;
  -webkit-text-fill-color: transparent;
  margin-bottom: var(--size-12);
}

.projeto-tecnologias ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-12);
  padding-bottom: var(--size-24);
}

.projeto-tecnologias li {
  background: var(--gray-2);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--gray-8);
  padding: var(--size-08) var(--size-16);
  border-radius: var(--size-16);
}

.projeto-informacoes h2,
.projeto-resultados h2 {
  margin-bottom: var(--size-40);
}

.projeto-informacoes p {
  color: var(--gray-8);
}

.projeto-informacoes p strong {
  color: var(--gray-10);
}

.projeto-resultados ul {
  max-width: max-content;
  list-style: disc;
  background: var(--gradient-y);
  color: var(--white);
  padding: var(--size-40);
}

.projeto-resultados li:not(:last-child) {
  margin-bottom: var(--size-16);
}

@media (max-width: 1000px) {
  .projeto {
    grid-template-columns: 1fr 1fr;
  }

  .projeto-informacoes h2,
  .projeto-resultados h2 {
    margin-bottom: var(--size-20);
  }
}

@media (max-width: 800px) {
  .projeto {
    grid-template-columns: 1fr;
    gap: var(--size-32);
  }
}