:root {
  --white: #FFFFFF;
  --gray-1: #F7F7F7;
  --gray-2: #EDEDED;
  --gray-3: #DEDEDE;
  --gray-4: #CCCCCC;
  --gray-5: #B2B2B2;
  --gray-6: #717171;
  --gray-7: #595959;
  --gray-8: #404040;
  --gray-9: #2E2E2E;
  --gray-10: #111111;
  --black: #000000;

  --primary-1: #0088FF;
  --primary-2: #0055CC;
  --gradient-x: linear-gradient(to right, #0088FF, #0055CC);
  --gradient-y: linear-gradient(to bottom, #0088FF, #0055CC);

  --white-blur: rgba(255, 255, 255, 0.60);
  --blur: blur(var(--size-16));
}