.conteiner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--size-200);
  padding-left: var(--size-40);
  padding-right: var(--size-40);
}

.button-primary,
.button-secundary {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
  padding: var(--size-12) var(--size-24);
  border-radius: var(--size-32);
  transition: background 0.4s, color 0.4s;
}

.button-primary {
  background: var(--primary-1);
  color: var(--white);
}

.button-primary:hover {
  background: var(--primary-2);
}

.button-secundary {
  background: none;
  color: var(--primary-1);
  border: 1px solid var(--primary-1);
}


.button-secundary:hover {
  color: var(--white);
  background: var(--primary-1);
}


.border-1 {
  border: 1px solid var(--gray-2);
}

.radius-1 {
  border-radius: var(--size-16);
}

.rounded {
  border-radius: 200px;
}

@media (max-width: 1200px) {
  .conteiner {
    margin-left: var(--size-20);
    margin-right: var(--size-20);
    margin-bottom: var(--size-120);
  }
}

@media (max-width: 800px) {
  .conteiner {
    padding-left: var(--size-20);
    padding-right: var(--size-20);
    margin-bottom: var(--size-80);
  }

  .button-primary,
  .button-secundary {
    font-size: 0.875rem;
  }
}