body {
  font-family: "Poppins", sans-serif;
  color: var(--gray-10);
}

.font-xxxl {
  font-size: 5rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
}

.font-xxl {
  font-size: 5rem;
  line-height: 1.3;
  font-weight: 700;
}

.font-xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.font-l {
  font-size: 1.5rem;
  line-height: 1.35;
  font-weight: 400;
}

.font-l-b {
  font-size: 1.5rem;
  line-height: 1.35;
  font-weight: 600;
}

.font-m {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.font-m-b {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .font-xxxl {
    font-size: 4rem;
  }

  .font-xxl {
    font-size: 4rem;
  }


  .font-l {
    font-size: 1.25rem;
  }
}

@media (max-width: 1000px) {
  .font-xxl {
    font-size: 3rem;
  }

  .font-xl {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .font-xxxl {
    font-size: 3rem;
  }
}