body {
  font-family: "SF Pro Display", sans-serif;
  color: var(--gray-10);
}

.font-xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.font-m-b {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .font-xl {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
  }
}