.formacao h2 {
  margin-bottom: var(--size-40);
}

.formacao-bg {
  color: var(--white);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-120);
  background: var(--gradient-y);
  padding: var(--size-80);
}

.formacao-item h3 {
  text-align: center;
  margin-bottom: var(--size-40);
}

.formacao-item li {
  display: flex;
  width: 220px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--size-16);
}

.formacao-item li:not(:last-child) {
  margin-bottom: var(--size-16);
  border-bottom: 2px solid var(--primary-1);
}

.formacao-item li span {
  color: var(--gray-3);
}

.formacao-item svg {
  transition: transform 0.4s;
}

.formacao-item svg:hover {
  transform: rotate(180deg);
}

@media (max-width: 1000px) {
  .formacao-bg {
    gap: var(--size-40) var(--size-80);
    padding: var(--size-60);
  }
}