.introducao {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--size-40);
}

.introducao img {
  grid-column: span 2;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: var(--size-20);
  }

  .introducao img {
    grid-column: 1;
  }

  .introducao a {
    grid-row: 3;
  }
}